# Database Admin 101 - Lab

## Introduction 

In this lab you'll go through the process of designing and creating a database. From there, you'll also begin to populate this table with mock data provided to you.

## Objectives

You will be able to:

* Create a SQL database
* Create a SQL table
* Create rows in a SQL table
* Alter entries in a SQL table
* Delete entries in a SQL table
* Commit changes via sqlite3

## The Scenario

You are looking to design a database for a school which will house various information from student grades to contact information, class roster lists and attendance. First, think of how you would design such a database and record some of your ideas below.

# Your Answer Here

Record some information here about how you would design such a database. What table would you include? What columns would each table have? What would be the primary means to join said tables?

I would design one table  such that each row would be a different student, and the columns would contain information on their grades, class, roster, attendance record, contact info, etc. Maybe I'd make a separate table for school staff, detailing staff ID (primary key for joining to the student table), staff name, salary, tenure. I'd create a separate table for class, which would have the course ID as the primary key for connecting to both the staff and student tables. Other columns in this class table would be teacher, number of students, location, previous year's average grade, equipment needed.

## Creating the Database

Now that you've put a little thought into how you might design your database, it's time to go ahead and create it! Start by import the necessary packages. Then, create a database called **school.sqlite**.

In [1]:
#Your code here; import necessary packages
import sqlite3

In [2]:
#Your code here; create the database school.sqlite
conn = sqlite3.connect('school.sqlite')
cur = conn.cursor()

## Create a Table for Contact Information

Create a table called contactInfo to house contact information for both students and staff. Be sure to include columns for first name, last name, role (student/staff), email, telephone number, street, city, state and zipcode. Be sure to also create a primary key for the table.

In [3]:
cur.execute("""CREATE TABLE contactInfo (
                                        userID INTEGER PRIMARY KEY,
                                        lastName TEXT, 
                                        firstName TEXT, 
                                        role TEXT,
                                        email TECT,
                                        phoneNumber INTEGER,
                                        street TEXT, 
                                        city TEXT, 
                                        state TEXT, 
                                        zipcode INTEGER 
                                        )""")

## Populate the Table

Below, code is provided for you in order to load a list of dictionaries. Briefly examine the list. Each dictionary in the list will serve as an entry for your contact info table. Once you've briefly investigated the structure of this data, write a for loop to iterate through the list and create an entry in your table for each person's contact info.

In [4]:
# Code to load the list of dictionaries; just run this cell
import pickle

with open('contact_list.pickle', 'rb') as f:
    contacts = pickle.load(f)

In [5]:
contacts

[{'firstName': 'Christine',
  'lastName': 'Holden',
  'role': 'staff',
  'telephone ': 2035687697,
  'street': '1672 Whitman Court',
  'city': 'Stamford',
  'state': 'CT',
  'zipcode ': '06995'},
 {'firstName': 'Christopher',
  'lastName': 'Warren',
  'role': 'student',
  'telephone ': 2175150957,
  'street': '1935 University Hill Road',
  'city': 'Champaign',
  'state': 'IL',
  'zipcode ': '61938'},
 {'firstName': 'Linda',
  'lastName': 'Jacobson',
  'role': 'staff',
  'telephone ': 4049446441,
  'street': '479 Musgrave Street',
  'city': 'Atlanta',
  'state': 'GA',
  'zipcode ': '30303'},
 {'firstName': 'Andrew',
  'lastName': 'Stepp',
  'role': 'student',
  'telephone ': 7866419252,
  'street': '2981 Lamberts Branch Road',
  'city': 'Hialeah',
  'state': 'Fl',
  'zipcode ': '33012'},
 {'firstName': 'Jane',
  'lastName': 'Evans',
  'role': 'student',
  'telephone ': 3259909290,
  'street': '1461 Briarhill Lane',
  'city': 'Abilene',
  'state': 'TX',
  'zipcode ': '79602'},
 {'firstName': 'Jane',
  'lastName': 'Evans',
  'role': 'student',
  'telephone ': 3259909290,
  'street': '1461 Briarhill Lane',
  'city': 'Abilene',
  'state': 'TX',
  'zipcode ': '79602'},
 {'firstName': 'Mary',
  'lastName': 'Raines',
  'role': 'student',
  'telephone ': 9075772295,
  'street': '3975 Jerry Toth Drive',
  'city': 'Ninilchik',
  'state': 'AK',
  'zipcode ': '99639'},
 {'firstName': 'Ed',
  'lastName': 'Lyman',
  'role': 'student',
  'telephone ': 5179695576,
  'street': '3478 Be Sreet',
  'city': 'Lansing',
  'state': 'MI',
  'zipcode ': '48933'}]

In [6]:
# Your code to iterate over the contact list and populate the contactInfo table here
for contact in contacts:
    firstName = contact['firstName']
    lastName = contact['lastName']
    role = contact['role']
    phoneNumber = contact['telephone ']
    street = contact['street']
    city = contact['city']
    state = contact['state']
    zipcode = contact['zipcode ']
    cur.execute("""INSERT INTO contactInfo (firstName, lastName, role, phoneNumber, street, 
                                            city, state, zipcode) VALUES ('{}', '{}', '{}', 
                                            '{}', '{}', '{}', '{}', '{}');""".format(firstName, 
                                            lastName, role, phoneNumber, street, city, state, 
                                            zipcode))

In [7]:
# Query the Table to Ensure it is populated
import pandas as pd

In [8]:
#Your code here
cur.execute("""select * from contactInfo;""")
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df

,userID,lastName,firstName,role,email,phoneNumber,street,city,state,zipcode
0,1,Holden,Christine,staff,None,2035687697,1672 Whitman Court,Stamford,CT,6995
1,2,Warren,Christopher,student,None,2175150957,1935 University Hill Road,Champaign,IL,61938
2,3,Jacobson,Linda,staff,None,4049446441,479 Musgrave Street,Atlanta,GA,30303
3,4,Stepp,Andrew,student,None,7866419252,2981 Lamberts Branch Road,Hialeah,Fl,33012
4,5,Evans,Jane,student,None,3259909290,1461 Briarhill Lane,Abilene,TX,79602
5,6,Evans,Jane,student,None,3259909290,1461 Briarhill Lane,Abilene,TX,79602
6,7,Raines,Mary,student,None,9075772295,3975 Jerry Toth Drive,Ninilchik,AK,99639
7,8,Lyman,Ed,student,None,5179695576,3478 Be Sreet,Lansing,MI,48933

## Commit Your Changes to the Database

Persist your changes by committing them to the database.

In [9]:
#Your code here
conn.commit()

## Create a Table for Student Grades

Create a new table in the database called "grades". In the table, include the following fields: userId, courseId, grade.

** This problem is a bit more tricky and will require a dual key. (A nuance you have yet to see.)
Here's how to do that:

```SQL
CREATE TABLE table_name(
   column_1 INTEGER NOT NULL,
   column_2 INTEGER NOT NULL,
   ...
   PRIMARY KEY(column_1,column_2,...)
);
```

In [10]:
#Your code here; create the grades table.
cur.execute("""CREATE TABLE grades (
                                        userID INTEGER NOT NULL,
                                        courseID INTEGER NOT NULL, 
                                        grade INTEGER,
                                        PRIMARY KEY(userID, courseID));""")

## Remove Duplicate Entries

An analyst just realized that there is a duplicate entry in the contactInfo table! Find and remove it.

In [16]:
#Your code here; find the duplicate entry
cur.execute("""select firstName, lastName, phoneNumber,
                    count(*) from contactInfo 
                    group by 1,2,3 having count(*) > 1;""").fetchall()

[('Jane', 'Evans', 3259909290, 2)]

In [17]:
#Your code here; delete the duplicate entry
cur.execute("""DELETE FROM contactInfo WHERE phoneNumber = 3259909290;""")

In [18]:
#Your code here; check that the duplicate entry was removed.
cur.execute("""select firstName, lastName, phoneNumber, 
                    count(*) from contactInfo 
                    group by 1,2,3 having count(*) > 1;""").fetchall()

[]

## Updating an Address

Ed Lyman just moved to 2910 Simpson Avenue York, PA 17403. Update his address accordingly.

In [19]:
#Your code here; update Ed's address
cur.execute("""UPDATE contactInfo 
                    SET street = "2910 Simpson Avenue",
                        city = "York",
                        state = "PA",
                        zipcode = "17403" 
                        WHERE firstName = "Ed" and lastName = "Lyman";""")

In [20]:
cur.execute("""select * from contactInfo;""")
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df

,userID,lastName,firstName,role,email,phoneNumber,street,city,state,zipcode
0,1,Holden,Christine,staff,None,2035687697,1672 Whitman Court,Stamford,CT,6995
1,2,Warren,Christopher,student,None,2175150957,1935 University Hill Road,Champaign,IL,61938
2,3,Jacobson,Linda,staff,None,4049446441,479 Musgrave Street,Atlanta,GA,30303
3,4,Stepp,Andrew,student,None,7866419252,2981 Lamberts Branch Road,Hialeah,Fl,33012
4,7,Raines,Mary,student,None,9075772295,3975 Jerry Toth Drive,Ninilchik,AK,99639
5,8,Lyman,Ed,student,None,5179695576,2910 Simpson Avenue,York,PA,17403

## Commit Your Changes to the Database

Once again, persist your changes by committing them to the database.

In [21]:
#Your code here
conn.commit()

## Summary

While there's certainly more to do with setting up and managing this database, you certainly got a taste for creating, populating and maintaining databases! Feel free to continue fleshing out this exercise to continue practicing.